@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
        body {
            background-color:hsla(0,0%,5%,1);
background-image:
radial-gradient(at 40% 20%, hsla(24,0%,21%,1) 0px, transparent 50%),
radial-gradient(at 80% 0%, hsla(189,0%,25%,1) 0px, transparent 50%),
radial-gradient(at 0% 50%, hsla(355,0%,11%,1) 0px, transparent 50%),
radial-gradient(at 80% 50%, hsla(340,0%,6%,1) 0px, transparent 50%),
radial-gradient(at 0% 100%, hsla(21,0%,42%,1) 0px, transparent 50%),
radial-gradient(at 80% 100%, hsla(240,0%,21%,1) 0px, transparent 50%),
radial-gradient(at 0% 0%, hsla(340,1%,8%,1) 0px, transparent 50%);
            margin: 0;
            padding: 0;
            background-size: cover;
            background-position: center;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            font-family: 'Montserrat', sans-serif;
            color: white;
        }

        .container {
            display: flex;
        }

        .im-lo {
            align-items: center;
            display: flex;
            flex-direction: column;
            background-color: #171717ff;
            width: 420px;
            height: 400px;
            margin: 0;
            box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
            border-top-left-radius: 40px;
            border-bottom-left-radius: 40px;
        }

        .im-lo p {
            margin-top: -3px;
        }

        .im-sq {
            background-color: #252525ff;
            width: 250px;
            height: 400px;
            margin: 0;
            box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
            border-top-right-radius: 40px;
            border-bottom-right-radius: 40px;
            justify-content: center;
            display: flex;
            align-items: center;
        }

        .im-sq img {
            width: 90%;
            height: 125px;
            display: flex;
        }

        .sumit {
            font-weight: bold;
            font-size: larger;
            text-align: center;
            color: white;
            background-color: #6aa84fff;
            border: none;
            width:50%;
            border-radius: 50px;
            height: 40px;
        }

        #username {
            font-family: sans-serif;
            font-size: 15px;
            color: white;
            text-align: center;
            width:60%;
            border: 2px solid #434343;
            border-radius: 50px;
            height: 40px;
            background-color: #252525ff;
        }

        #password {
            margin-top: -25px;
            font-family: sans-serif;
            font-size: 15px;
            color: white;
            text-align: center;
            width:60%;
            border: 2px solid #434343;
            border-radius: 50px;
            height: 40px;
            background-color: #252525ff;
        }